project:
  type: manuscript
  resources: 
    - /resources
    - /resources/*.pdf

manuscript:
  article: index.qmd

bibliography: references.bib
csl: the-lancet.csl

format:
  frpQuarto-html: default